:root {
  --primary: #3f6745;
  --primary-light: #ccd5ca;
  --secondary: #f69f81;
  --background: #fff;
  --background-green: #f0efe9;
  --background-secondary: #e4e4e4;
  --text-color: #4b4b4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 500vh;
  background: #000;
  font-family: "PP Neue Montreal";
}

h1 {
  margin: 0.25em 0;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

p {
  width: 80%;
  font-size: 24px;
  font-weight: 400;
  line-height: 175%;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
