.links {
  display: flex;
  align-items: center;
  gap: 2em;
}

.logo a {
  font-size: 28px;

  sup {
    position: relative;
    top: -2px;
    font-size: 14px;
  }
}

.lottieContainer .animation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
  filter: saturate(2);
}

.animation:after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 200%;
  width: 200%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.gradient {
  width: 100%;
  position: relative;
  height: 200vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
}

.websiteContent {
  position: relative;
  width: 100%;
  height: 200vh;
  padding: 2em 0;
  background: #000;
  color: #fff;
  z-index: 1;
}

.endLottie {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 1px;
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, -20%);
  }

  30% {
    transform: translate(-5%, -10%);
  }

  40% {
    transform: translate(-15%, -20%);
  }

  50% {
    transform: translate(-5%, -10%);
  }

  60% {
    transform: translate(-15%, -20%);
  }

  70% {
    transform: translate(-5%, -10%);
  }

  80% {
    transform: translate(-15%, -20%);
  }

  90% {
    transform: translate(-5%, -10%);
  }

  100% {
    transform: translate(-15%, -20%);
  }
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) {
  .lottieContainer .animation {
    height: auto;
  }
}

/* Desktop breakpoint */
@media screen and (min-width: 1024px) {
  .lottieContainer .animation {
    height: auto;
  }
}
